{% set styles = ['btn--bordered-primary', 'btn--bordered-secondary', 'btn--bordered-orange'] %}

<div class="sg-container-padding">

  <div class="sg-title">Buttons bordered</div>

  <ul class="space-x-4 flex">
    {% for style in styles %}
      <li>
        <a href="" class="{{ 'btn-bordered ' ~ style }}">
          <span>
            {{ style }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
