{% set styles = ['btn--primary', 'btn--secondary', 'btn--orange'] %}

<div class="sg-container-padding">

  <div class="sg-title">Buttons</div>

  <ul class="space-x-4 flex">
    {% for style in styles %}
      <li>
        <a href="" class="{{ 'btn ' ~ style }}">
          <span>{{ style }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
