<div class="sg-container-padding">

	<a href="" class="link-blue">a link</a>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nostrum itaque corrupti, aut, est dicta consequatur, reiciendis vero ex quo veniam voluptatem cumque dolor natus. Commodi nemo ad cum cumque.</p>

	<button class="btn-blue">a button</button>

</div>

<div custom-cursor></div>
