{% set styles = ['link--primary', 'link--secondary', 'link--orange'] %}

<div class="sg-container-padding">

  <div class="sg-title">Link</div>

  <ul class="space-x-4 flex">
    {% for style in styles %}
      <li>
        <a href="" class="{{ 'link ' ~ style }}">
          <span>{{ style }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
