<div class="text-15 p-5">

    <a href="#" class="link link--color">Color</a>

    <br/><br/>

    <p>Lorem ipsum dolor sit amet, <a href="#" class="link link--bg">Background-color</a> consectetur Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam impedit vero explicabo in omnis eum officiis, dignissimos minima corporis animi, voluptates, tenetur atque odio placeat aliquam. Tempora sequi quos voluptate. adipisicing elit. Ali.</p> 

    <br/><br/>

	<a href="#" class="link link--metis">Metis</a>

	<br/><br/>

	<a href="#" class="link link--metis-reverse">Metis reverse</a>

    <br/><br/>

	<a href="#" class="link link--elara">
		<span>Elara</span>
	</a>

    <br/><br />

    <a href="#" class="link link--exclusion">Exclusion</a>

    <br/><br />

    <a href="#" class="link link--up">Up</a>

    <br/><br />


</div>
