{% set styles = ['link--underline-center', 'link--underline-left', 'link--underline-right'] %}

<div class="sg-container-padding">

  <div class="sg-title">Link underline</div>

  <ul class="space-x-4 flex">
    {% for style in styles %}
      <li>
        <a href="" class="{{ 'link-underline ' ~ style }}">
          <span>{{ style }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
