<div class="sg-container-padding">

  <div class="sg-title">Accordion</div>

  <ul class="max-w-100 space-y-5">

    {% for item in 0..5 %}
      <li>
        <div class="c-accordion" x-data="accordion()">
          <button class="c-accordion__header-button" id="accordion-control-{{ loop.index }}" aria-controls="content-{{ loop.index }}" x-on:click="toggle()" x-ref="button">
            <span class="c-accordion__header-title">{{ 'item #' ~ loop.index }}</span>
            <svg class="c-accordion__header-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8.263 14.743">
              <g data-name="Groupe 2331" stroke-width="2">
                <path data-name="Tracé 1265" d="M.928.372a15.048 15.048 0 0 0 2.8 4.381 12.793 12.793 0 0 0 4.2 2.619"></path>
                <path data-name="Tracé 1266" d="M.928 14.372a15.048 15.048 0 0 1 2.8-4.381 12.793 12.793 0 0 1 4.2-2.619"></path>
              </g>
            </svg>
          </button>
          <div class="c-accordion__content" id="content-{{ loop.index }}" x-ref="content" x-show="isVisible">

            <div class="prose">
              <p>Apples are a fine fruit often associated with good health, and fewer doctor's appointments.</p>
              <p>Example. An apple a day keeps the doctor away.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequatur hic iste praesentium iusto sed temporibus. Commodi deleniti nisi hic totam, eligendi dignissimos quis, omnis consectetur laborum voluptate, sequi nostrum.</p>
            </div>

          </div>
        </div>
      </li>
    {% endfor %}

  </ul>

</div>
