<div class="sg-container-padding">

  <div class="sg-title">AOS</div>

  {% for item in 0..10 %}
    <section class="my-20">

      <div class="overflow-hidden mb-10">
        <div class="h1 max-w-[1000px]" data-aos="reveal-up" data-aos-duration="1500" data-aos-easing="reveal">Lorem ipsum dolor sit, amet consect</div>
      </div>

      <div class="wysiwyg max-w-100 mt-6" data-aos="fade-up" data-aos-delay="50">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi consectetur, voluptatem ab exercitationem illum a maxime delectus placeat voluptatum reiciendis accusantium eligendi! Atque, saepe? Amet nobis nulla beatae natus architecto?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi consectetur, voluptatem ab exercitationem illum a maxime delectus placeat voluptatum reiciendis accusantium eligendi! Atque, saepe? Amet nobis nulla beatae natus architecto?</p>
      </div>
    </section>
  {% endfor %}
</div>
