/* html
-------------------------------------------- */
html {
  @apply overflow-x-hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;

  &.no-scroll {
    @apply overflow-hidden;
  }
}

/* body
-------------------------------------------- */
body {
  @apply overflow-x-hidden bg-white font-normal text-black;
}
