.circle-progress-item {
  @apply absolute z-10 pt-7;

  &.is-disabled {
    @apply pointer-events-auto opacity-30;
  }

  &:nth-child(1) {
    top: 80%;
    left: 0;

    @screen lg {
      top: 73%;
      left: 0;
    }
  }

  &:nth-child(2) {
    top: 0;
    left: 0;

    @screen lg {
      top: 15%;
      left: 0;
    }
  }

  &:nth-child(3) {
    @apply left-1/2 transform -translate-x-1/2;
    top: -40%;

    @screen lg {
      @apply left-1/2 transform -translate-x-1/2;
      top: -5%;
    }
  }

  &:nth-child(4) {
    top: 0;
    right: 0;

    @screen lg {
      top: 15%;
      right: 0;
    }
  }

  &:nth-child(5) {
    top: 80%;
    right: 0;

    @screen lg {
      top: 73%;
      right: 0%;
    }
  }
}

.button-progress {
  @apply border-gray-1 text-orange-1 flex items-center justify-center w-6 h-6 border border-solid rounded-full absolute top-0 left-1/2 transform -translate-x-1/2 cursor-pointer;

  &:hover,
  &.is-active {
    @apply bg-gradient-orange-1 border-none text-white;

    .button-progress__open {
      @apply block;
    }

    .button-progress__close {
      @apply hidden;
    }
  }

  &__open {
    @apply hidden;
  }
}

.svg-progress {
  circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke-width: 15px;
  }
}
