@keyframes bounce {
    0% { transform: translateY(0em);}
    50% { transform: translateY(-1em);}
    100% { transform: translateY(0em);}
}

.go-to-top {
    &:hover {
        animation: bounce 1s infinite linear;
    }
}