<div class="lg:min-h-120 bg-gradient-orange-1">
    <div class="container-1200-px relative py-20 text-white">

        <div class="flex -mx-2">

            <div class="flex-1 px-2">
                <h1 class="h1 lg:mr-10">AB-16B5 Monoclonal antibody: A novel inhibitor of EMT</h1>
            </div>

            <div class="px-2">
                <svg class="w-26 h-26 -mt-13 lg:mt-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 134 134">
                    <defs/>
                    <path fill="#fff" fill-rule="evenodd" d="M134 67c0 37.003-29.997 67-67 67S0 104.003 0 67 29.997 0 67 0s67 29.997 67 67zM93.608 94.198h-8.683c7.339-5.265 12.134-13.862 12.134-23.563 0-8.58-3.751-16.59-10.186-22.066l5.17-3.928a6.513 6.513 0 002.53-4.333 6.511 6.511 0 00-1.276-4.852l-1.375-1.81 1.657-1.312c1.093-1 1.013-2.869-.18-4.17-1.193-1.303-3.046-1.548-4.14-.546l-1.198.948-.74-.975a6.514 6.514 0 00-4.333-2.53 6.516 6.516 0 00-4.852 1.275L48.111 49.151a6.513 6.513 0 00-2.529 4.333 6.511 6.511 0 001.275 4.852l1.27 1.672-1.073.827c-.926.848-.711 2.592.482 3.895 1.193 1.302 2.911 1.67 3.837.822l.608-.469.85 1.12a6.513 6.513 0 004.333 2.528 6.508 6.508 0 004.852-1.275l19.019-14.45a21.829 21.829 0 018.922 17.631c0 12.068-9.818 21.887-21.887 21.887-7.727 0-14.823-4.137-18.736-10.6H57.9a3.19 3.19 0 100-6.38H34.19a3.19 3.19 0 100 6.38h7.198A28.984 28.984 0 0051.245 94.2H34.459a3.45 3.45 0 100 6.9h59.15a3.45 3.45 0 100-6.902zm-35.35-31.69a.335.335 0 01-.252.065.33.33 0 01-.225-.13l-5.976-7.866a.342.342 0 01.065-.478l30.027-22.813a.33.33 0 01.252-.067.328.328 0 01.225.132l5.976 7.865a.33.33 0 01.066.252.332.332 0 01-.132.226L58.258 62.507zm-5.723 12.139H39.557a1.612 1.612 0 110-3.226h12.978a1.613 1.613 0 010 3.226z" clip-rule="evenodd"/>
                </svg>
            </div>

        </div>

        <div class="text-md lg:mt-6 mt-8 font-circular-medium prose text-white uppercase">
            <p>Working towards preventing chemotherapy resistance and metastatic tumour invasion in NSCLC context</p>
        </div>

    </div>
</div>
