<div class="lg:min-h-100 bg-gradient-orange-1 relative overflow-hidden">
	<div class="container-1440-px relative z-20 pt-20 pb-40">

		<div class="max-w-200">
			<h1 class="h1 text-white">Fringilla morbi ornare tempus, morbi ante</h1>
            <div class="lg:text-md mt-6 text-sm font-circular-medium prose text-white uppercase">
            	<p>Velit risus pulvinar auctor eget suspendisse id.</p>
            </div>
		</div>

	</div>

	<img class="mix-blend-color-burn w-84 lg:w-120 -right-14 lg:-top-40 lg:right-0 -top-10 absolute z-10" src="{{ '/images/alethia-shape.png'|path }}" alt="">

</div>
