<div class="p-8">
	<div class="box p-14">

		<div class="prose">
			<h2>Example content...</h2>
			<p>The
				<code>@tailwindcss/typography</code>
				plugin is our attempt to give you what you
				<em>actually</em>
				want, without any of the downsides of doing something stupid like disabling our base styles.
            </p>

		</div>
	</div>
</div>

