<footer class="bg-orange-1 text-white">
    <div class="container-1200-px relative">
        <div class="flex -mx-19">
            <div class="flex flex-col justify-between px-19 my-6">
                <svg width="220" height="56" viewBox="0 0 220 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M70.9733 44.5764C72.522 44.5764 73.43 45.4938 73.43 46.7801C73.43 47.6526 72.924 48.2721 72.2123 48.5369C73.1415 48.7663 73.6806 49.5939 73.6806 50.4995C73.6806 51.7857 72.6592 52.715 71.1672 52.715H68.3203V44.5764H70.9733ZM70.8456 48.135C71.7535 48.135 72.2927 47.5959 72.2927 46.8369C72.2927 46.0684 71.7299 45.5624 70.8007 45.5624H69.4458V48.135H70.8456ZM71.0064 51.729C71.9143 51.729 72.5338 51.223 72.5338 50.4309C72.5338 49.6506 72.0397 49.0997 71.0537 49.0997H69.4458V51.729H71.0064Z" fill="#F5F2F0"/>
                    <path d="M75.9882 44.3235C76.4233 44.3235 76.7685 44.6687 76.7685 45.1038C76.7685 45.5294 76.4233 45.8722 75.9882 45.8722C75.5626 45.8722 75.2197 45.527 75.2197 45.1038C75.2197 44.6687 75.5626 44.3235 75.9882 44.3235ZM75.4609 52.7174V47.1963H76.5273V52.7174H75.4609Z" fill="#F5F2F0"/>
                    <path d="M83.8974 49.9487C83.8974 51.637 82.727 52.8878 81.0742 52.8878C79.4214 52.8878 78.251 51.637 78.251 49.9487C78.251 48.2723 79.4214 47.0215 81.0742 47.0215C82.727 47.0215 83.8974 48.2747 83.8974 49.9487ZM82.7955 49.9487C82.7955 48.6742 81.9916 47.9862 81.0742 47.9862C80.1568 47.9862 79.3528 48.6742 79.3528 49.9487C79.3528 51.235 80.1568 51.9231 81.0742 51.9231C81.9916 51.9254 82.7955 51.235 82.7955 49.9487Z" fill="#F5F2F0"/>
                    <path d="M87.0096 47.194H88.2036V48.1705H87.0096V51.041C87.0096 51.547 87.2153 51.7976 87.778 51.7976C87.9152 51.7976 88.1114 51.774 88.2036 51.7527V52.6701C88.1114 52.7056 87.8371 52.7742 87.4683 52.7742C86.5272 52.7742 85.929 52.1996 85.929 51.2018V48.1705H84.8721V47.194H85.1724C85.7682 47.194 86.0212 46.8275 86.0212 46.3451V45.449H87.0096V47.194Z" fill="#F5F2F0"/>
                    <path d="M91.0597 52.7174H89.9814V44.4062H91.0597V47.8395C91.4616 47.2531 92.1047 47.0356 92.7361 47.0356C94.0555 47.0356 94.7104 47.9884 94.7104 49.2156V52.7174H93.6322V49.4C93.6322 48.6316 93.3106 48.0121 92.3459 48.0121C91.5184 48.0121 91.0833 48.6552 91.0597 49.471V52.7174Z" fill="#F5F2F0"/>
                    <path d="M101.586 51.1425C101.276 52.119 100.392 52.8875 99.1054 52.8875C97.6253 52.8875 96.3271 51.8093 96.3271 49.9366C96.3271 48.2034 97.578 47.0212 98.9683 47.0212C100.668 47.0212 101.621 48.1916 101.621 49.913C101.621 50.0501 101.609 50.1896 101.598 50.2582H97.4408C97.4645 51.2465 98.1762 51.9346 99.1054 51.9346C100.002 51.9346 100.448 51.4404 100.654 50.8209L101.586 51.1425ZM100.496 49.388C100.472 48.5959 99.9566 47.9765 98.9801 47.9765C98.0721 47.9765 97.5212 48.6763 97.4763 49.388H100.496ZM99.4057 46.4821H98.4977L99.4956 44.8057H100.85L99.4057 46.4821Z" fill="#F5F2F0"/>
                    <path d="M106.407 48.2841C106.246 48.2604 106.086 48.2486 105.937 48.2486C105.029 48.2486 104.421 48.7309 104.421 49.9486V52.7151H103.343V47.194H104.4V48.1587C104.802 47.3099 105.49 47.1018 106.052 47.1018C106.201 47.1018 106.35 47.1255 106.41 47.1373V48.2841H106.407Z" fill="#F5F2F0"/>
                    <path d="M109.231 49.5586L110.723 49.341C111.056 49.2961 111.148 49.1235 111.148 48.9273C111.148 48.3882 110.791 47.9389 109.954 47.9389C109.197 47.9389 108.772 48.4094 108.703 49.0526L107.67 48.8114C107.786 47.7545 108.736 47.0215 109.93 47.0215C111.583 47.0215 112.226 47.9625 112.226 49.0408V51.8072C112.226 52.2896 112.271 52.5757 112.295 52.7152H111.238C111.214 52.578 111.181 52.37 111.181 51.968C110.94 52.3581 110.389 52.8854 109.401 52.8854C108.275 52.8854 107.552 52.1051 107.552 51.2326C107.554 50.249 108.278 49.6981 109.231 49.5586ZM111.148 50.3507V50.0977L109.46 50.3507C109.001 50.4192 108.656 50.6841 108.656 51.1782C108.656 51.592 109.001 51.9822 109.552 51.9822C110.436 51.9822 111.148 51.5566 111.148 50.3507Z" fill="#F5F2F0"/>
                    <path d="M114.248 54.8976V47.1941H115.293V48.0548C115.591 47.5038 116.246 47.0664 117.142 47.0664C118.795 47.0664 119.679 48.3409 119.679 49.9487C119.679 51.5897 118.726 52.8641 117.107 52.8641C116.258 52.8641 115.615 52.4622 115.317 51.968V54.8952H114.248V54.8976ZM116.946 48.0217C115.958 48.0217 115.305 48.8492 115.305 49.9511C115.305 51.0884 115.96 51.9018 116.946 51.9018C117.944 51.9018 118.575 51.086 118.575 49.9511C118.575 48.8469 117.956 48.0217 116.946 48.0217Z" fill="#F5F2F0"/>
                    <path d="M126.208 51.1428C125.898 52.1193 125.014 52.8878 123.727 52.8878C122.247 52.8878 120.949 51.8096 120.949 49.9369C120.949 48.2037 122.2 47.0215 123.59 47.0215C125.29 47.0215 126.243 48.1919 126.243 49.9132C126.243 50.0504 126.231 50.1899 126.22 50.2585H122.063C122.087 51.2468 122.798 51.9349 123.727 51.9349C124.624 51.9349 125.071 51.4407 125.276 50.8212L126.208 51.1428ZM125.118 49.3883C125.094 48.5962 124.579 47.9767 123.602 47.9767C122.694 47.9767 122.143 48.6766 122.098 49.3883H125.118Z" fill="#F5F2F0"/>
                    <path d="M129.802 52.8875C128.516 52.8875 127.735 51.9228 127.735 50.672V47.1938H128.814V50.5112C128.814 51.2679 129.159 51.9346 130.064 51.9346C130.937 51.9346 131.374 51.3601 131.374 50.5231V47.1938H132.452V51.6935C132.452 52.1309 132.488 52.521 132.509 52.7149H131.476C131.452 52.5896 131.431 52.2775 131.431 52.0481C131.133 52.6251 130.445 52.8875 129.802 52.8875Z" fill="#F5F2F0"/>
                    <path d="M136.079 47.194H137.273V48.1705H136.079V51.041C136.079 51.547 136.285 51.7976 136.847 51.7976C136.985 51.7976 137.181 51.774 137.273 51.7527V52.6701C137.181 52.7056 136.906 52.7742 136.538 52.7742C135.597 52.7742 134.998 52.1996 134.998 51.2018V48.1705H133.941V47.194H134.239C134.835 47.194 135.088 46.8275 135.088 46.3451V45.449H136.077V47.194H136.079Z" fill="#F5F2F0"/>
                    <path d="M139.581 44.3235C140.016 44.3235 140.361 44.6687 140.361 45.1038C140.361 45.5294 140.016 45.8722 139.581 45.8722C139.155 45.8722 138.812 45.527 138.812 45.1038C138.812 44.6687 139.155 44.3235 139.581 44.3235ZM139.054 52.7174V47.1963H140.12V52.7174H139.054Z" fill="#F5F2F0"/>
                    <path d="M146.183 54.8977V51.935C145.896 52.4977 145.275 52.8642 144.461 52.8642C142.877 52.8642 141.844 51.5449 141.844 49.937C141.844 48.3764 142.82 47.0547 144.438 47.0547C145.39 47.0547 145.977 47.5489 146.206 48.043V47.1942H147.251V54.8977H146.183ZM144.563 51.9137C145.539 51.9137 146.192 51.0767 146.192 49.9394C146.192 48.802 145.537 48.01 144.563 48.01C143.565 48.01 142.943 48.802 142.943 49.9394C142.943 51.0767 143.575 51.9137 144.563 51.9137Z" fill="#F5F2F0"/>
                    <path d="M151.323 52.8875C150.037 52.8875 149.257 51.9228 149.257 50.672V47.1938H150.335V50.5112C150.335 51.2679 150.68 51.9346 151.586 51.9346C152.458 51.9346 152.893 51.3601 152.893 50.5231V47.1938H153.972V51.6935C153.972 52.1309 154.007 52.521 154.028 52.7149H152.995C152.971 52.5896 152.95 52.2775 152.95 52.0481C152.657 52.6251 151.967 52.8875 151.323 52.8875Z" fill="#F5F2F0"/>
                    <path d="M160.909 51.1428C160.599 52.1193 159.715 52.8878 158.429 52.8878C156.948 52.8878 155.65 51.8096 155.65 49.9369C155.65 48.2037 156.901 47.0215 158.292 47.0215C159.992 47.0215 160.944 48.1919 160.944 49.9132C160.944 50.0504 160.933 50.1899 160.921 50.2585H156.764C156.788 51.2468 157.499 51.9349 158.429 51.9349C159.325 51.9349 159.772 51.4407 159.977 50.8212L160.909 51.1428ZM159.819 49.3883C159.795 48.5962 159.28 47.9767 158.303 47.9767C157.395 47.9767 156.844 48.6766 156.8 49.3883H159.819Z" fill="#F5F2F0"/>
                    <path d="M163.125 50.9369C163.193 51.5115 163.631 51.9702 164.411 51.9702C165.019 51.9702 165.352 51.625 165.352 51.2348C165.352 50.8896 165.099 50.6272 164.64 50.5231L163.699 50.3174C162.838 50.133 162.321 49.549 162.321 48.7687C162.321 47.8276 163.205 47.0237 164.283 47.0237C165.799 47.0237 166.269 48.012 166.383 48.5039L165.43 48.8609C165.385 48.5748 165.153 47.9435 164.283 47.9435C163.732 47.9435 163.366 48.2981 163.366 48.6788C163.366 49.0122 163.571 49.2534 163.997 49.3456L164.893 49.5419C165.891 49.7594 166.421 50.3694 166.421 51.1828C166.421 51.9631 165.766 52.8923 164.401 52.8923C162.886 52.8923 162.243 51.9158 162.15 51.2845L163.125 50.9369Z" fill="#F5F2F0"/>
                    <path d="M89.1772 27.7696H77.9979C76.9646 27.7696 76.0424 28.4127 75.683 29.3798L74.2147 33.3427C73.5243 35.2012 71.7533 36.4354 69.7694 36.4354H66.8848L80.3222 1.91626H87.0893L100.527 36.4354H97.4292C95.4549 36.4354 93.6886 35.213 92.9911 33.364L91.4873 29.368C91.1255 28.4056 90.2034 27.7696 89.1772 27.7696ZM79.4804 22.3667H87.6852C88.2456 22.3667 88.6333 21.8087 88.4371 21.2838L83.5828 8.24836L78.7285 21.2838C78.5322 21.8063 78.92 22.3667 79.4804 22.3667Z" fill="#F5F2F0"/>
                    <path d="M104.31 36.4354V1.18799H109.958V32.9076C109.958 34.856 108.379 36.4354 106.431 36.4354H104.31Z" fill="#F5F2F0"/>
                    <path d="M137.891 29.6683C136.625 33.8061 132.875 37.1661 127.179 37.1661C120.753 37.1661 115.057 32.4915 115.057 24.4593C115.057 16.9615 120.606 11.9961 126.595 11.9961C133.897 11.9961 138.184 16.8149 138.184 24.3127C138.184 25.2372 138.087 26.0175 138.037 26.1145H120.705C120.852 29.7179 123.675 32.2976 127.179 32.2976C129.397 32.2976 130.915 31.5339 131.918 30.3563C132.946 29.1481 134.561 28.6161 136.075 29.0937L137.891 29.6683ZM132.488 21.9766C132.391 19.2007 130.539 16.718 126.645 16.718C123.091 16.718 121.046 19.4442 120.852 21.9766H132.488Z" fill="#F5F2F0"/>
                    <path d="M151.096 12.7267H156.014V17.7418H151.096V28.7462C151.096 30.8387 152.021 31.7159 154.116 31.7159C154.894 31.7159 155.821 31.5693 156.064 31.5221V36.1967C155.724 36.3433 154.652 36.7334 152.607 36.7334C148.226 36.7334 145.5 34.1041 145.5 29.673V17.7442H141.118V12.7291H142.336C144.868 12.7291 145.987 11.1213 145.987 9.02868V5.47485H151.099V12.7267H151.096Z" fill="#F5F2F0"/>
                    <path d="M163.597 36.4354H161.479V1.18799H167.127V15.0155C168.733 12.923 171.412 12.0457 173.894 12.0457C179.737 12.0457 182.56 16.2332 182.56 21.4422V36.4378H180.442C178.493 36.4378 176.914 34.8583 176.914 32.91V22.4164C176.914 19.4962 175.599 17.1578 172.045 17.1578C168.929 17.1578 167.227 19.4939 167.127 22.5133V32.91C167.125 34.8559 165.545 36.4354 163.597 36.4354Z" fill="#F5F2F0"/>
                    <path d="M191.139 0.700928C193.184 0.700928 194.839 2.35607 194.839 4.40135C194.839 6.44663 193.184 8.05212 191.139 8.05212C189.143 8.05212 187.488 6.44427 187.488 4.40135C187.488 2.35607 189.143 0.700928 191.139 0.700928ZM188.366 36.4355V12.7267H193.965V32.9076C193.965 34.856 192.385 36.4355 190.437 36.4355H188.366Z" fill="#F5F2F0"/>
                    <path d="M206.61 22.8516L212.696 21.9271C214.06 21.7332 214.448 21.0499 214.448 20.2223C214.448 18.2267 213.086 16.6188 209.97 16.6188C207.891 16.6188 206.456 17.5481 205.7 18.9266C205.075 20.0615 203.73 20.5935 202.47 20.3074L199.942 19.7352C200.379 15.6447 204.08 11.9939 209.922 11.9939C217.226 11.9939 220 16.1317 220 20.856V32.6382V36.4356H218.061C216.352 36.4356 214.928 35.121 214.789 33.4162C213.668 35.2179 211.332 37.1639 207.485 37.1639C202.519 37.1639 199.45 33.7567 199.45 30.0066C199.453 25.7741 202.569 23.438 206.61 22.8516ZM214.448 26.6017V25.5306L208.265 26.4551C206.513 26.7483 205.101 27.7201 205.101 29.6685C205.101 31.2739 206.319 32.7352 208.558 32.7352C211.722 32.7352 214.448 31.2266 214.448 26.6017Z" fill="#F5F2F0"/>
                    <path d="M55.616 40.0294C54.5331 37.6224 52.6935 35.8254 50.5229 34.7637L50.5631 34.7424C47.1701 32.8958 42.1668 30.7819 39.6959 26.8001C37.7831 22.5228 38.8353 17.1932 39.2088 13.3485L39.1687 13.3698C39.476 11.1945 39.1261 8.90802 38.0195 6.82254C36.0523 3.11265 32.2123 1.02481 28.2778 1.09574C24.3409 1.02481 20.5034 3.11265 18.5338 6.82254C17.4272 8.90802 17.0772 11.1945 17.3846 13.3698L17.3444 13.3485C17.718 17.1932 18.7702 22.5228 16.8573 26.8001C14.3864 30.7819 9.38319 32.8981 5.99014 34.7424L6.03034 34.7637C3.85973 35.8277 2.02017 37.6224 0.937232 40.0294C-1.25938 44.9097 0.521087 50.7666 5.06563 53.5945C10.4212 56.9284 17.4083 54.9801 20.3166 49.5016C21.4232 47.4161 21.7731 45.1296 21.4657 42.9543L21.5059 42.9756C21.1323 39.1309 20.0801 36.4354 21.993 32.1557C22.0072 32.132 22.0237 32.1084 22.0379 32.0847C24.9084 27.5402 31.6519 27.5402 34.5201 32.0847C34.5343 32.1084 34.5508 32.132 34.565 32.1557C36.4779 36.433 35.4257 39.1286 35.0521 42.9756L35.0923 42.9543C34.7849 45.1296 35.1348 47.4161 36.2414 49.5016C39.1497 54.9801 46.1368 56.9284 51.4924 53.5945C56.0298 50.7642 57.8103 44.9097 55.616 40.0294Z" fill="#F5F2F0"/>
                </svg>

                <p>Copyright - lorem ipsum dolor</p>
            </div>
            <div class="px-19 border-l-2 border-r-2 border-white border-opacity-10">
                <div class="flex -mx-10">
                    <div class="uppercase px-10">
                        <ul>
                            <li class="my-6">
                                <a href="">About Us</a>
                            </li>
                            <li class="my-6">
                                <a href="">Therapeutic Pipeline</a>
                            </li>
                            <li class="my-6">
                                <a href="">News</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col px-10">
                        <div class="">
                            <a href="" class="block btn-white my-6">
                                Contact us
                            </a>
                        </div>

                        <div class="">
                            <div class="flex items-center my-6">
                                <span class="mr-4">Follow us :</span>
                                <a href="" title="LinkedIn" target="_blank">
                                    <svg width="37" height="37" viewbox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 9.8C12 10.304 12.1598 10.736 12.5023 11.072C12.8447 11.408 13.2329 11.6 13.7123 11.6C14.1918 11.6 14.6027 11.432 14.9224 11.072C15.242 10.712 15.4247 10.304 15.4247 9.8C15.4247 9.296 15.2648 8.864 14.9224 8.528C14.5799 8.192 14.1918 8 13.7123 8C13.2329 8 12.8219 8.168 12.5023 8.528C12.1826 8.888 12 9.296 12 9.8ZM22.3881 12.8C22.2283 12.8 22.0685 12.824 21.9087 12.848C21.7489 12.872 21.6119 12.92 21.4521 12.968C21.2922 13.016 21.2009 13.064 21.0868 13.088C20.9954 13.136 20.8813 13.184 20.7215 13.28C20.5845 13.376 20.4932 13.424 20.4475 13.448C20.4018 13.472 20.3333 13.544 20.1735 13.664C20.0137 13.784 19.9909 13.856 19.9909 13.856V12.8H16.6119V26H19.9909V17.528C19.9909 17.456 20.0137 17.312 20.0822 17.12C20.1507 16.928 20.2192 16.76 20.3333 16.616C20.4475 16.472 20.6073 16.352 20.8584 16.232C21.1096 16.112 21.4064 16.04 21.726 16.04C22.2968 16.04 22.7078 16.184 22.9817 16.496C23.2557 16.808 23.3927 17.192 23.3927 17.696V26H27V17.816C27 16.952 26.863 16.184 26.6119 15.536C26.3607 14.888 26.0411 14.408 25.6986 14.072C25.3562 13.736 24.9452 13.448 24.4886 13.256C24.032 13.04 23.6438 12.92 23.3014 12.872C23.0046 12.824 22.6849 12.8 22.3881 12.8V12.8ZM12.0457 26H15.4247V12.8H12.0457V26Z" fill="currentColor" />
                                        <circle cx="18.5" cy="18.5" r="18" stroke="currentColor" />
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="px-19">

                <div class="whitespace-pre-line my-3">141, Président-Kennedy ave.
                Suite SB-5100
                Montréal, Québec
                CANADA H2X 1Y4</div>

                <div class="whitespace-pre-line my-3">Tel.: 514.858.7666
                Fax.: 514.858.5333</div>
            </div>
        </div>
        <div class="absolute -my-2 bottom-6 -right-6">
            <button class="go-to-top p-2" title="Scroll to top">
                <svg width="8" height="54" viewBox="0 0 8 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.35355 0.64645C4.15829 0.451187 3.84171 0.451187 3.64644 0.64645L0.464464 3.82843C0.269202 4.02369 0.269202 4.34027 0.464464 4.53554C0.659726 4.7308 0.976309 4.7308 1.17157 4.53554L4 1.70711L6.82842 4.53554C7.02369 4.7308 7.34027 4.7308 7.53553 4.53554C7.73079 4.34027 7.73079 4.02369 7.53553 3.82843L4.35355 0.64645ZM4.5 54L4.5 1L3.5 1L3.5 54L4.5 54Z" fill="white"/>
                </svg>
            </button>
        </div>
    </div>
</footer>