<div class="max-w-100 p-8">

	<div class=" space-y-5">

		<label class="input-group">
			<span class="input-label">Full name</span>
			<input type="text" class="input-text" placeholder=""/>
			<div class="input-error">A error...</div>
		</label>

		<label class="input-group">
			<span class="input-label">Email address</span>
			<input type="email" class="input-text" placeholder="john@example.com">
		</label>

		<label class="input-group">
			<span class="input-label">What type of event is it?</span>
			<select class="input-text">
				<option>Corporate event</option>
				<option>Wedding</option>
				<option>Birthday</option>
				<option>Other</option>
			</select>
		</label>

		<label class="input-group">
			<span class="input-label">Additional details</span>
			<textarea class="input-text" rows="6"></textarea>
		</label>

		<div class="input-group">
			<div class="mt-2">
				<div>
					<label class="inline-flex items-center">
						<input type="checkbox" checked="">
						<span class="ml-2">Email me news and special offers</span>
					</label>
				</div>
			</div>
		</div>

		<div class="input-group flex justify-center">
			<a href="" class="btn-molecule uppercase">
				<span>Submit</span>
			</a>
		</div>

	</div>

</div>
