{% set pages = [
    {
        'title': 'Therapeutic Pipeline',
        'children': [
            {
                'title': 'Discovery Process',
            },
            {
                'title': 'Monoclonal antibody AB-16B5',
            },
            {
                'title': 'Monoclonal antibody AB-16B5',
            },
            {
                'title': 'Monoclonal antibody AB-16B5',
            },
        ]
    },
    {
        'title': 'Career'
    },
    {
        'title': 'News'
    },

] %}

<header class="bg-gray-2 whitespace-nowrap">
	<div class="container-1200-px">
		<div class="flex items-center py-8">
			<div class="flex-1">
				<svg width="243" height="61" viewbox="0 0 243 61" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M78.3933 48.4624C80.104 48.4624 81.1069 49.4758 81.1069 50.8965C81.1069 51.8602 80.548 52.5445 79.7619 52.837C80.7883 53.0903 81.3837 54.0044 81.3837 55.0047C81.3837 56.4255 80.2555 57.4519 78.6075 57.4519H75.463V48.4624H78.3933ZM78.2523 52.393C79.2552 52.393 79.8507 51.7976 79.8507 50.9592C79.8507 50.1104 79.2291 49.5515 78.2027 49.5515H76.7062V52.393H78.2523ZM78.4299 56.3628C79.4328 56.3628 80.1171 55.8039 80.1171 54.929C80.1171 54.0671 79.5712 53.4586 78.4821 53.4586H76.7062V56.3628H78.4299Z" fill="url(#paint0_linear)"/>
					<path d="M83.9327 48.183C84.4132 48.183 84.7945 48.5643 84.7945 49.0448C84.7945 49.5149 84.4132 49.8936 83.9327 49.8936C83.4626 49.8936 83.0839 49.5123 83.0839 49.0448C83.0839 48.5643 83.4626 48.183 83.9327 48.183ZM83.3503 57.4545V51.3562H84.5281V57.4545H83.3503Z" fill="url(#paint1_linear)"/>
					<path d="M92.6688 54.3962C92.6688 56.2609 91.376 57.6425 89.5505 57.6425C87.7249 57.6425 86.4321 56.2609 86.4321 54.3962C86.4321 52.5445 87.7249 51.1629 89.5505 51.1629C91.376 51.1629 92.6688 52.5471 92.6688 54.3962ZM91.4518 54.3962C91.4518 52.9885 90.5638 52.2285 89.5505 52.2285C88.5371 52.2285 87.6492 52.9885 87.6492 54.3962C87.6492 55.8169 88.5371 56.5769 89.5505 56.5769C90.5638 56.5796 91.4518 55.8169 91.4518 54.3962Z" fill="url(#paint2_linear)"/>
					<path d="M96.1058 51.3536H97.4247V52.4322H96.1058V55.6028C96.1058 56.1617 96.333 56.4385 96.9546 56.4385C97.1061 56.4385 97.3228 56.4124 97.4247 56.3889V57.4022C97.3228 57.4414 97.0199 57.5172 96.6125 57.5172C95.573 57.5172 94.9123 56.8825 94.9123 55.7804V52.4322H93.7448V51.3536H94.0765C94.7346 51.3536 95.0141 50.9488 95.0141 50.416V49.4262H96.1058V51.3536Z" fill="url(#paint3_linear)"/>
					<path d="M100.58 57.4545H99.3886V48.2744H100.58V52.0666C101.024 51.4189 101.734 51.1786 102.431 51.1786C103.889 51.1786 104.612 52.2311 104.612 53.5866V57.4545H103.421V53.7903C103.421 52.9415 103.066 52.2572 102 52.2572C101.086 52.2572 100.606 52.9676 100.58 53.8686V57.4545Z" fill="url(#paint4_linear)"/>
					<path d="M112.207 55.7151C111.865 56.7937 110.888 57.6425 109.467 57.6425C107.832 57.6425 106.398 56.4516 106.398 54.3831C106.398 52.4688 107.78 51.1629 109.316 51.1629C111.193 51.1629 112.246 52.4557 112.246 54.357C112.246 54.5085 112.233 54.6626 112.22 54.7383H107.628C107.655 55.83 108.441 56.59 109.467 56.59C110.457 56.59 110.951 56.0442 111.178 55.3599L112.207 55.7151ZM111.003 53.7772C110.977 52.9023 110.407 52.218 109.329 52.218C108.326 52.218 107.717 52.9911 107.668 53.7772H111.003ZM109.799 50.5675H108.796L109.898 48.7158H111.394L109.799 50.5675Z" fill="url(#paint5_linear)"/>
					<path d="M117.532 52.5576C117.354 52.5314 117.177 52.5184 117.012 52.5184C116.009 52.5184 115.338 53.0512 115.338 54.3962V57.4519H114.147V51.3536H115.315V52.4192C115.759 51.4816 116.519 51.2517 117.14 51.2517C117.305 51.2517 117.469 51.2778 117.535 51.2909V52.5576H117.532Z" fill="url(#paint6_linear)"/>
					<path d="M120.65 53.9653L122.298 53.725C122.667 53.6754 122.768 53.4847 122.768 53.2679C122.768 52.6725 122.374 52.1762 121.45 52.1762C120.614 52.1762 120.144 52.696 120.068 53.4064L118.927 53.14C119.055 51.9725 120.105 51.1629 121.423 51.1629C123.249 51.1629 123.959 52.2024 123.959 53.3933V56.449C123.959 56.9818 124.009 57.2978 124.035 57.4519H122.868C122.842 57.3004 122.805 57.0706 122.805 56.6266C122.539 57.0575 121.93 57.6399 120.838 57.6399C119.595 57.6399 118.796 56.778 118.796 55.8143C118.799 54.7279 119.598 54.1194 120.65 53.9653ZM122.768 54.8402V54.5607L120.904 54.8402C120.397 54.9159 120.016 55.2084 120.016 55.7543C120.016 56.2113 120.397 56.6422 121.006 56.6422C121.982 56.6422 122.768 56.1721 122.768 54.8402Z" fill="url(#paint7_linear)"/>
					<path d="M126.192 59.8625V51.3536H127.347V52.3042C127.676 51.6957 128.399 51.2126 129.389 51.2126C131.215 51.2126 132.191 52.6202 132.191 54.3962C132.191 56.2087 131.139 57.6164 129.35 57.6164C128.412 57.6164 127.702 57.1724 127.373 56.6266V59.8598H126.192V59.8625ZM129.172 52.2677C128.081 52.2677 127.36 53.1817 127.36 54.3988C127.36 55.655 128.083 56.5534 129.172 56.5534C130.274 56.5534 130.972 55.6524 130.972 54.3988C130.972 53.1791 130.287 52.2677 129.172 52.2677Z" fill="url(#paint8_linear)"/>
					<path d="M139.402 55.7151C139.06 56.7937 138.083 57.6425 136.663 57.6425C135.028 57.6425 133.594 56.4516 133.594 54.3831C133.594 52.4688 134.975 51.1629 136.511 51.1629C138.389 51.1629 139.441 52.4557 139.441 54.357C139.441 54.5085 139.428 54.6626 139.415 54.7383H134.824C134.85 55.83 135.636 56.59 136.663 56.59C137.652 56.59 138.146 56.0442 138.373 55.3599L139.402 55.7151ZM138.198 53.7772C138.172 52.9023 137.603 52.218 136.524 52.218C135.521 52.218 134.913 52.9911 134.863 53.7772H138.198Z" fill="url(#paint9_linear)"/>
					<path d="M143.372 57.6425C141.951 57.6425 141.089 56.577 141.089 55.1954V51.3536H142.28V55.0178C142.28 55.8535 142.662 56.59 143.662 56.59C144.626 56.59 145.109 55.9554 145.109 55.0308V51.3536H146.3V56.3236C146.3 56.8068 146.339 57.2377 146.362 57.4519H145.221C145.195 57.3134 145.171 56.9687 145.171 56.7154C144.842 57.3526 144.082 57.6425 143.372 57.6425Z" fill="url(#paint10_linear)"/>
					<path d="M151.625 51.3536V52.4322H150.306V55.6028C150.306 56.1617 150.533 56.4385 151.155 56.4385C151.306 56.4385 151.523 56.4124 151.625 56.3889V57.4022C151.523 57.4414 151.22 57.5172 150.813 57.5172C149.773 57.5172 149.112 56.8825 149.112 55.7804V52.4322H147.945V51.3536H148.274C148.932 51.3536 149.212 50.9488 149.212 50.416V49.4262H150.303V51.3536H151.625Z" fill="url(#paint11_linear)"/>
					<path d="M154.174 48.183C154.655 48.183 155.036 48.5643 155.036 49.0448C155.036 49.5149 154.655 49.8936 154.174 49.8936C153.704 49.8936 153.325 49.5123 153.325 49.0448C153.325 48.5643 153.704 48.183 154.174 48.183ZM153.592 57.4545V51.3562H154.77V57.4545H153.592Z" fill="url(#paint12_linear)"/>
					<path d="M161.466 59.8625V56.59C161.15 57.2116 160.463 57.6164 159.565 57.6164C157.815 57.6164 156.673 56.1591 156.673 54.3831C156.673 52.6594 157.752 51.1995 159.538 51.1995C160.591 51.1995 161.239 51.7453 161.492 52.2912V51.3536H162.646V59.8625H161.466ZM159.677 56.5665C160.756 56.5665 161.476 55.642 161.476 54.3857C161.476 53.1295 160.753 52.2546 159.677 52.2546C158.575 52.2546 157.888 53.1295 157.888 54.3857C157.888 55.642 158.585 56.5665 159.677 56.5665Z" fill="url(#paint13_linear)"/>
					<path d="M167.144 57.6425C165.723 57.6425 164.861 56.577 164.861 55.1954V51.3536H166.052V55.0178C166.052 55.8535 166.433 56.59 167.433 56.59C168.397 56.59 168.878 55.9554 168.878 55.0308V51.3536H170.069V56.3236C170.069 56.8068 170.108 57.2377 170.131 57.4519H168.99C168.964 57.3134 168.94 56.9687 168.94 56.7154C168.617 57.3526 167.854 57.6425 167.144 57.6425Z" fill="url(#paint14_linear)"/>
					<path d="M177.731 55.7151C177.389 56.7937 176.413 57.6425 174.992 57.6425C173.357 57.6425 171.923 56.4516 171.923 54.3831C171.923 52.4688 173.305 51.1629 174.84 51.1629C176.718 51.1629 177.771 52.4557 177.771 54.357C177.771 54.5085 177.758 54.6626 177.745 54.7383H173.153C173.179 55.83 173.965 56.59 174.992 56.59C175.982 56.59 176.475 56.0442 176.702 55.3599L177.731 55.7151ZM176.527 53.7772C176.501 52.9023 175.932 52.218 174.853 52.218C173.85 52.218 173.242 52.9911 173.192 53.7772H176.527Z" fill="url(#paint15_linear)"/>
					<path d="M180.178 55.4879C180.254 56.1225 180.737 56.6292 181.599 56.6292C182.27 56.6292 182.639 56.2479 182.639 55.8169C182.639 55.4356 182.359 55.1458 181.853 55.0308L180.813 54.8036C179.862 54.5999 179.29 53.9548 179.29 53.093C179.29 52.0535 180.267 51.1655 181.458 51.1655C183.132 51.1655 183.652 52.2572 183.777 52.8004L182.725 53.1948C182.675 52.8788 182.419 52.1815 181.458 52.1815C180.85 52.1815 180.445 52.5732 180.445 52.9937C180.445 53.362 180.672 53.6284 181.142 53.7302L182.132 53.947C183.234 54.1873 183.819 54.8611 183.819 55.7595C183.819 56.6213 183.096 57.6477 181.589 57.6477C179.915 57.6477 179.204 56.5691 179.102 55.8718L180.178 55.4879Z" fill="url(#paint16_linear)"/>
					<path d="M98.5007 29.8986H86.1526C85.0113 29.8986 83.9928 30.6089 83.5958 31.6771L81.9739 36.0543C81.2113 38.1071 79.2552 39.4704 77.0639 39.4704H73.8777L88.7199 1.3424H96.1945L111.037 39.4704H107.615C105.435 39.4704 103.484 38.1202 102.713 36.0778L101.052 31.6641C100.653 30.6011 99.6341 29.8986 98.5007 29.8986ZM87.7901 23.9309H96.8527C97.4717 23.9309 97.9 23.3145 97.6832 22.7347L92.3214 8.3365L86.9596 22.7347C86.7429 23.3119 87.1712 23.9309 87.7901 23.9309Z" fill="url(#paint17_linear)"/>
					<path d="M115.215 39.4704V0.538007H121.455V35.5738C121.455 37.7258 119.71 39.4704 117.558 39.4704H115.215Z" fill="url(#paint18_linear)"/>
					<path d="M152.307 31.9958C150.909 36.5662 146.767 40.2774 140.476 40.2774C133.377 40.2774 127.086 35.1141 127.086 26.2422C127.086 17.9606 133.215 12.476 139.831 12.476C147.896 12.476 152.631 17.7986 152.631 26.0803C152.631 27.1015 152.523 27.9633 152.469 28.0704H133.325C133.487 32.0506 136.605 34.9 140.476 34.9C142.926 34.9 144.602 34.0564 145.71 32.7558C146.846 31.4212 148.629 30.8336 150.301 31.3611L152.307 31.9958ZM146.339 23.4999C146.232 20.4338 144.187 17.6916 139.886 17.6916C135.96 17.6916 133.701 20.7028 133.487 23.4999H146.339Z" fill="url(#paint19_linear)"/>
					<path d="M166.893 13.283H172.325V18.8224H166.893V30.9772C166.893 33.2885 167.914 34.2575 170.228 34.2575C171.087 34.2575 172.111 34.0956 172.38 34.0433V39.2066C172.004 39.3686 170.821 39.7995 168.562 39.7995C163.722 39.7995 160.711 36.8953 160.711 32.001V18.825H155.872V13.2856H157.217C160.014 13.2856 161.249 11.5097 161.249 9.19836V5.273H166.896V13.283H166.893Z" fill="url(#paint20_linear)"/>
					<path d="M180.701 39.4704H178.361V0.538007H184.6V15.8111C186.374 13.4998 189.333 12.5309 192.075 12.5309C198.528 12.5309 201.647 17.1562 201.647 22.9097V39.473H199.307C197.155 39.473 195.41 37.7284 195.41 35.5764V23.9857C195.41 20.7603 193.958 18.1773 190.033 18.1773C186.59 18.1773 184.71 20.7577 184.6 24.0928V35.5764C184.598 37.7258 182.853 39.4704 180.701 39.4704Z" fill="url(#paint21_linear)"/>
					<path d="M211.122 0C213.381 0 215.209 1.82818 215.209 4.08729C215.209 6.34639 213.381 8.11973 211.122 8.11973C208.918 8.11973 207.089 6.34378 207.089 4.08729C207.089 1.82818 208.918 0 211.122 0ZM208.058 39.4704V13.283H214.243V35.5738C214.243 37.7258 212.498 39.4704 210.346 39.4704H208.058Z" fill="url(#paint22_linear)"/>
					<path d="M228.21 24.4663L234.932 23.4451C236.439 23.2309 236.868 22.4762 236.868 21.5621C236.868 19.3578 235.363 17.5819 231.921 17.5819C229.626 17.5819 228.04 18.6083 227.205 20.1309C226.515 21.3845 225.029 21.9721 223.637 21.6561L220.845 21.0241C221.328 16.5059 225.416 12.4734 231.869 12.4734C239.936 12.4734 243 17.0439 243 22.262V39.4704H240.858C238.97 39.4704 237.398 38.0183 237.244 36.1353C236.006 38.1254 233.426 40.2748 229.176 40.2748C223.692 40.2748 220.302 36.5114 220.302 32.3692C220.304 27.6943 223.747 25.114 228.21 24.4663ZM236.868 28.6084V27.4253L230.038 28.4465C228.103 28.7703 226.544 29.8437 226.544 31.9958C226.544 33.7691 227.889 35.3831 230.362 35.3831C233.856 35.3831 236.868 33.7169 236.868 28.6084Z" fill="url(#paint23_linear)"/>
					<path d="M61.4304 43.4402C60.2343 40.7815 58.2024 38.7966 55.8049 37.624L55.8493 37.6004C52.1015 35.5607 46.5752 33.2259 43.846 28.8278C41.7331 24.1033 42.8953 18.2165 43.3079 13.9699L43.2636 13.9934C43.6031 11.5907 43.2165 9.06517 41.9943 6.76166C39.8214 2.66393 35.58 0.357808 31.2341 0.436159C26.8857 0.357808 22.6469 2.66393 20.4714 6.76166C19.2491 9.06517 18.8626 11.5907 19.2021 13.9934L19.1577 13.9699C19.5704 18.2165 20.7326 24.1033 18.6197 28.8278C15.8905 33.2259 10.3642 35.5633 6.61639 37.6004L6.66078 37.624C4.26325 38.7992 2.23137 40.7815 1.03522 43.4402C-1.39104 48.8307 0.575564 55.2998 5.59522 58.4234C11.5107 62.1059 19.2282 59.9539 22.4406 53.9026C23.6629 51.5991 24.0494 49.0736 23.7099 46.6708L23.7543 46.6943C23.3416 42.4477 22.1794 39.4704 24.2923 34.7433C24.3079 34.7171 24.3262 34.691 24.3419 34.6649C27.5125 29.6453 34.961 29.6453 38.129 34.6649C38.1447 34.691 38.1629 34.7171 38.1786 34.7433C40.2915 39.4678 39.1293 42.4451 38.7166 46.6943L38.761 46.6708C38.4215 49.0736 38.808 51.5991 40.0303 53.9026C43.2427 59.9539 50.9602 62.1059 56.8757 58.4234C61.8875 55.2972 63.8541 48.8307 61.4304 43.4402Z" fill="url(#paint24_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint1_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint2_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint3_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint4_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint5_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint6_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint7_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint8_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint9_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint10_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint11_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint12_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint13_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint14_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint15_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint16_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint17_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint18_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint19_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint20_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint21_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint22_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint23_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
						<linearGradient id="paint24_linear" x1="50.0087" y1="-168.15" x2="265.587" y2="-126.361" gradientunits="userSpaceOnUse">
							<stop stop-color="#FF2300"/>
							<stop offset="1" stop-color="#FF7200"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="flex">
				<nav class="flex-1 pr-14">
					<ul class="flex -m-7">
						<li class="p-7">
							<a href="/#about-us" class="uppercase">About us</a>
						</li>
						{% for page in pages %}
							<li class="p-7">
								{% set cssClass = [""] %}
								{% set cssClass = cssClass|join(' ')|trim %}

								{% if page.children %}
									<dropdown-menu class="" trigger-css-classes="uppercase text-orange-1">
										<template v-slot:label>{{ page.title }}</template>
										<ul class="m-8">
											{% for child in page.children %}
												<li class="my-3">
													<a href="" class="article-more ">
														<svg width="16" height="12" viewbox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.6967C10.4645 0.403807 9.98959 0.403807 9.6967 0.6967C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM-6.55671e-08 6.75L15 6.75L15 5.25L6.55671e-08 5.25L-6.55671e-08 6.75Z" fill="currentColor" />
														</svg>
														<span>{{ child.title }}</span>
													</a>
												</li>
											{% endfor %}
										</ul>
									</dropdown-menu>
								{% else %}
									<a href="#" class="uppercase text-orange-1 {{ cssClass }}">{{ page.title }}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</nav>
				<div class="bg-gray-1 w-1px flex-grow-0 opacity-40"></div>
				<div class="pl-14 flex-1">
					<a href="" class="font-roboto font-circular-bold">FR</a>
				</div>
			</div>
		</div>
	</div>
</header>
