<div class="px-8 py-24 bg-black">

    <div class="box flex bg-gradient-orange-1 px-16 text-white">
        <div class="mt-20 mb-15">
            <p class="text-md uppercase my-4">Scelerisque pellentesque eget placerat.</p>
            
            <p class="text-md my-4">
                Lectus facilisis etiam lacinia massa lorem. Quis convallis aliquam senectus viverra suspendisse id aliquet feugiat. Aliquam tempus viverra lectus rhoncus fringilla. 
            </p>

            <p class="text-sm my-4">
                Quisque gravida id libero, tortor pretium sem diam ultricies montes. Hendrerit a arcu, adipiscing nunc, rhoncus et interdum. Massa integer gravida sed mi tortor venenatis facilisi.
            </p>
        </div>
    </div>
</div>