<div class="sg-container-padding">
  <div class="sg-title">marquee</div>
</div>

<div class="c-marquee">
  <div class="c-marquee__inner" aria-hidden="true">
    {% for span in 0..3 %}
      <span>Some time ago I encountered</span>
    {% endfor %}
  </div>
</div>
