<div class="sg-container-padding">

  <a class="btn-orange" href="modal-base-1" modal-trigger>modal-base-1</a>

  <div class="modal-base" id="modal-base-1" role="dialog" aria-labelledby="modal-1-title" aria-modal="true" modal="theme-base">
    <div modal-wrapper>

      <div aria-hidden="true" modal-overlay modal-close></div>
      <div modal-content>

        <h2 class="h5" id="modal-1-title">lorem account</h2>
        <div class="mt-2 prose">
          {% for item in 0..20 %}
            <p>Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.</p>
          {% endfor %}
        </div>

        <div class="flex justify-end mt-4">
          <a class="btn-green" href modal-close>Ok</a>
        </div>

      </div>
    </div>
  </div>

</div>
