<div class="sg-container-padding">

  <a class="btn-orange" href="modal-base-1" modal-trigger>modal-base-1</a>

  <div class="modal-base" id="modal-base-1" modal="theme-base">
    <div modal-overlay>

      <div modal-content>

        <h2 class="h5">lorem account</h2>
        <div class="mt-2 prose">
          <p>Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.</p>
        </div>

        <div class="flex justify-end mt-4">
          <a href="" class="btn-green" modal-close>Ok</a>
        </div>

      </div>

    </div>
  </div>

</div>
