<div class="p-10">
    <div class="text-base prose max-w-120">


        <p class="lead">“We are extremely pleased to have achieved this important milestone in the development of AB-16B5 and to continue to advance the clinical development of this promising antibody” commented Yves Cornellier, President and CEO of Alethia. “EMT is a central enabler for solid tumor progression because it triggers metastatic invasion, resistance to several classes of anti-cancer drugs and contributes to immune evasion. There is also increasing evidence that EMT contributes to resistance to immune checkpoint inhibitors. AB-16B5 may play an important role in overcoming these problems”, added Dr. Mario Filion, Chief Scientific Officer.</p>
        <img src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="">

        <h2>Tenetur molestiae sequi!</h2>
        <p>By default, Tailwind removes all of the default browser styling from paragraphs, headings, lists and more. This ends up being really useful for building application UIs because you spend less time undoing user-agent styles, but when you
            <em>really are</em>
            just trying to style some content that came from a rich-text editor in a CMS or a markdown file, it can be surprising and unintuitive.</p>
        <p>We get lots of complaints about it actually, with people regularly asking us things like:</p>

        <h2>Tenetur molestiae sequi!</h2>
        <p>By default, Tailwind removes all of the default browser styling from paragraphs, headings, lists and more. This ends up being really useful for building application UIs because you spend less time undoing user-agent styles, but when you
            <em>really are</em>
            just trying to style some content that came from a rich-text editor in a CMS or a markdown file, it can be surprising and unintuitive.</p>
        <p>We get lots of complaints about it actually, with people regularly asking us things like:</p>


        <h2>Tenetur molestiae sequi!</h2>
        <p>By default, Tailwind removes all of the default browser styling from paragraphs, headings, lists and more. This ends up being really useful for building application UIs because you spend less time undoing user-agent styles, but when you
            <em>really are</em>
            just trying to style some content that came from a rich-text editor in a CMS or a markdown file, it can be surprising and unintuitive.</p>
        <p>We get lots of complaints about it actually, with people regularly asking us things like:</p>

        <h2>Tenetur molestiae sequi!</h2>
        <p>By default, Tailwind removes all of the default browser styling from paragraphs, headings, lists and more. This ends up being really useful for building application UIs because you spend less time undoing user-agent styles, but when you
            <em>really are</em>
            just trying to style some content that came from a rich-text editor in a CMS or a markdown file, it can be surprising and unintuitive.</p>
        <p>We get lots of complaints about it actually, with people regularly asking us things like:</p>


    </div>
</div>
