<div class="sg-container-padding">

  <h2 class="sg-title">Custom scrollbar</h2>

  <div class="scrollbar w-100 overflow-y-scroll">
    <div class="max-h-100">
      {% for item in 0..5 %}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae incidunt enim placeat perspiciatis. Dolore iusto consectetur itaque ab odio sint aperiam numquam cumque quas culpa beatae, maiores, repellendus minus odit.</p>
      {% endfor %}
    </div>
  </div>


</div>
