<div class="flex -m-12">
    <div class="flex-1 p-12">
        <div class="prose">
            <h2 class="h2">Empowering the body</h2>
            <div class="">
                <p>To help treat cancer and associated conditions, the power of specificity can be harnessed to maximize our immune system's own ability to fight—smarter and stronger. </p>
                <p>By helping to modify the architecture of tumor cells, new mechanisms help redefine the limits of the conventional approaches to cancer treatment.</p>
            </div>
        </div>
    </div>
    <div class="flex justify-end flex-1 p-12">
        <div class="p-10 box max-w-[505px]">
            <h2 class="box-surtitle">Methods that make a difference</h2>
            <div class="text-orange-1 mt-3 text-base prose">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea nulla dignissimos. Non expedita nostrum quibusdam optio architecto reiciendis doloremque suscipit deleniti quam. Inventore, cupiditate enim perferendis velit veritatis accusamus!</p>
            </div>
        </div>
    </div>
</div>
